In [199]:
import pandas as pd
import numpy as np

In [200]:
#Read csv into a pandas dataframe.
csv = 'move_length.csv'
df = pd.read_csv(csv, index_col = 'order_id')
df.head()

,order_number,market,broad_move_type,fs,booking_agent,booking_platform,move_length_hours,executed_man_hours,booked_man_hours,order_total_spots,...,move_type,calculator_count_of_hops,calculator_count_of_rooms,calculator_count_of_boxes,calculator_count_of_items,calculator_from_has_basement,calculator_from_count_of_garage_stalls,calculator_to_has_elevator,calculator_from_has_elevator,calculator_hours
order_id,,,,,,,,,,,,,,,,,,,,,
441678,ord_427049598,"Chattanooga, TN",labor_only,0,Tucker Krajewski,phone,5.100000,10.25,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441910,ord_984821003,"Austin, TX",labor_only,0,NaN,web,2.642778,5.25,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442339,ord_687366606,"Dallas-Fort-Worth, TX",labor_only,0,NaN,web,1.171389,2.25,6.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447847,ord_592828917,"Chattanooga, TN",labor_only,0,NaN,web,0.936944,2.00,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447956,ord_034798074,"Chattanooga, TN",full_service,1,Allison Moon,phone,2.104444,6.25,9.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8779 entries, 441678 to 520642
Data columns (total 55 columns):
order_number                              8779 non-null object
market                                    8779 non-null object
broad_move_type                           8779 non-null object
fs                                        8779 non-null int64
booking_agent                             4220 non-null object
booking_platform                          8779 non-null object
move_length_hours                         8764 non-null float64
executed_man_hours                        8779 non-null float64
booked_man_hours                          8771 non-null float64
order_total_spots                         8771 non-null float64
property_size_name                        8779 non-null object
property_type_name                        8779 non-null object
house                                     8779 non-null int64
residence                                 8779 non-null int64
rooms                                     8779 non-null int64
coupon_amount                             8779 non-null float64
min_billable_man_hours                    8779 non-null int64
damage_cost                               8779 non-null float64
damage                                    8779 non-null int64
appeasement                               8779 non-null int64
appeasement_cost                          8779 non-null float64
grpn                                      8779 non-null int64
grpn200                                   8779 non-null int64
booked_one_ten_perc                       8771 non-null float64
booked_eighty_perc                        8771 non-null float64
max_bound                                 8771 non-null float64
min_bound                                 8771 non-null float64
accurate                                  8779 non-null int64
num_effort_hops                           8771 non-null float64
avg_prev_lat_rate                         8771 non-null float64
some_inventory                            4300 non-null float64
beds                                      2888 non-null float64
desks                                     1200 non-null float64
chairs                                    2240 non-null float64
refrigerators                             191 non-null float64
ables                                     2430 non-null float64
dressers                                  2454 non-null float64
washing_machines                          577 non-null float64
couches                                   2597 non-null float64
bookshelves                               1187 non-null float64
boxes                                     2345 non-null float64
reservation_start                         8779 non-null object
booked_at                                 8779 non-null object
dense                                     8779 non-null int64
some_calc                                 194 non-null float64
move_type                                 194 non-null object
calculator_count_of_hops                  194 non-null float64
calculator_count_of_rooms                 194 non-null float64
calculator_count_of_boxes                 194 non-null float64
calculator_count_of_items                 194 non-null float64
calculator_from_has_basement              194 non-null float64
calculator_from_count_of_garage_stalls    194 non-null float64
calculator_to_has_elevator                194 non-null float64
calculator_from_has_elevator              194 non-null float64
calculator_hours                          194 non-null float64
dtypes: float64(34), int64(11), object(10)
memory usage: 3.8+ MB

In [202]:
#Removing columns from the 'calculator.'
#These columns come from a new pre-move survey we only give to our phone customers that asks things like how many flights of stairs or large appliances there are in their home.
#They all have less than 500 non-null observations, and there is no sensical way to replace these missing values, so I will remove these columns. (Maybe in the future, this analysis can be re-visited and incorporate these columns.)
df = df.drop(['refrigerators','some_calc','move_type','calculator_count_of_hops','calculator_count_of_rooms','calculator_count_of_boxes','calculator_count_of_items','calculator_from_has_basement','calculator_from_count_of_garage_stalls','calculator_to_has_elevator','calculator_from_has_elevator','calculator_hours'], axis='columns')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8779 entries, 441678 to 520642
Data columns (total 43 columns):
order_number              8779 non-null object
market                    8779 non-null object
broad_move_type           8779 non-null object
fs                        8779 non-null int64
booking_agent             4220 non-null object
booking_platform          8779 non-null object
move_length_hours         8764 non-null float64
executed_man_hours        8779 non-null float64
booked_man_hours          8771 non-null float64
order_total_spots         8771 non-null float64
property_size_name        8779 non-null object
property_type_name        8779 non-null object
house                     8779 non-null int64
residence                 8779 non-null int64
rooms                     8779 non-null int64
coupon_amount             8779 non-null float64
min_billable_man_hours    8779 non-null int64
damage_cost               8779 non-null float64
damage                    8779 non-null int64
appeasement               8779 non-null int64
appeasement_cost          8779 non-null float64
grpn                      8779 non-null int64
grpn200                   8779 non-null int64
booked_one_ten_perc       8771 non-null float64
booked_eighty_perc        8771 non-null float64
max_bound                 8771 non-null float64
min_bound                 8771 non-null float64
accurate                  8779 non-null int64
num_effort_hops           8771 non-null float64
avg_prev_lat_rate         8771 non-null float64
some_inventory            4300 non-null float64
beds                      2888 non-null float64
desks                     1200 non-null float64
chairs                    2240 non-null float64
ables                     2430 non-null float64
dressers                  2454 non-null float64
washing_machines          577 non-null float64
couches                   2597 non-null float64
bookshelves               1187 non-null float64
boxes                     2345 non-null float64
reservation_start         8779 non-null object
booked_at                 8779 non-null object
dense                     8779 non-null int64
dtypes: float64(23), int64(11), object(9)
memory usage: 2.9+ MB

In [221]:
#Drop rows where move_length_hours is null. 
#This is the column from which the independant variable is calculated. 
#It would not make sense to replace missing values and there is only a very small number of these.
df = df[df['move_length_hours'].notnull()]
df = df[df['move_length_hours'] > 0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8522 entries, 441678 to 520642
Data columns (total 48 columns):
order_number              8522 non-null object
market                    8522 non-null object
broad_move_type           8522 non-null object
fs                        8522 non-null int64
booking_agent             4071 non-null object
booking_platform          8522 non-null object
move_length_hours         8522 non-null float64
executed_man_hours        8522 non-null float64
booked_man_hours          8522 non-null float64
order_total_spots         8522 non-null float64
property_size_name        8522 non-null object
property_type_name        8522 non-null category
house                     8522 non-null int64
residence                 8522 non-null int64
rooms                     8522 non-null int64
coupon_amount             8522 non-null float64
min_billable_man_hours    8522 non-null int64
damage_cost               8522 non-null float64
damage                    8522 non-null int64
appeasement               8522 non-null int64
appeasement_cost          8522 non-null float64
grpn                      8522 non-null int64
grpn200                   8522 non-null int64
booked_one_ten_perc       8522 non-null float64
booked_eighty_perc        8522 non-null float64
max_bound                 8522 non-null float64
min_bound                 8522 non-null float64
accurate                  8522 non-null int64
num_effort_hops           8522 non-null float64
avg_prev_lat_rate         8522 non-null float64
some_inventory            4152 non-null float64
beds                      2865 non-null float64
desks                     1192 non-null float64
chairs                    2224 non-null float64
ables                     2408 non-null float64
dressers                  2429 non-null float64
washing_machines          571 non-null float64
couches                   2560 non-null float64
bookshelves               1175 non-null float64
boxes                     2329 non-null float64
reservation_start         8522 non-null datetime64[ns]
booked_at                 8522 non-null datetime64[ns]
dense                     8522 non-null int64
over                      8522 non-null int64
hour_of_day               8522 non-null int64
morning                   8522 non-null int64
day_of_week               8522 non-null category
weekend                   8522 non-null int64
dtypes: category(2), datetime64[ns](2), float64(23), int64(15), object(6)
memory usage: 3.1+ MB

In [222]:
df.property_type_name = df.property_type_name.astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8522 entries, 441678 to 520642
Data columns (total 48 columns):
order_number              8522 non-null object
market                    8522 non-null object
broad_move_type           8522 non-null object
fs                        8522 non-null int64
booking_agent             4071 non-null object
booking_platform          8522 non-null object
move_length_hours         8522 non-null float64
executed_man_hours        8522 non-null float64
booked_man_hours          8522 non-null float64
order_total_spots         8522 non-null float64
property_size_name        8522 non-null object
property_type_name        8522 non-null category
house                     8522 non-null int64
residence                 8522 non-null int64
rooms                     8522 non-null int64
coupon_amount             8522 non-null float64
min_billable_man_hours    8522 non-null int64
damage_cost               8522 non-null float64
damage                    8522 non-null int64
appeasement               8522 non-null int64
appeasement_cost          8522 non-null float64
grpn                      8522 non-null int64
grpn200                   8522 non-null int64
booked_one_ten_perc       8522 non-null float64
booked_eighty_perc        8522 non-null float64
max_bound                 8522 non-null float64
min_bound                 8522 non-null float64
accurate                  8522 non-null int64
num_effort_hops           8522 non-null float64
avg_prev_lat_rate         8522 non-null float64
some_inventory            4152 non-null float64
beds                      2865 non-null float64
desks                     1192 non-null float64
chairs                    2224 non-null float64
ables                     2408 non-null float64
dressers                  2429 non-null float64
washing_machines          571 non-null float64
couches                   2560 non-null float64
bookshelves               1175 non-null float64
boxes                     2329 non-null float64
reservation_start         8522 non-null datetime64[ns]
booked_at                 8522 non-null datetime64[ns]
dense                     8522 non-null int64
over                      8522 non-null int64
hour_of_day               8522 non-null int64
morning                   8522 non-null int64
day_of_week               8522 non-null category
weekend                   8522 non-null int64
dtypes: category(2), datetime64[ns](2), float64(23), int64(15), object(6)
memory usage: 3.1+ MB

In [218]:
#Add a column for whether or not move exceeded 4 hours in length
df['over'] = np.where(df.move_length_hours > 4,1,0)
df.describe()

,fs,move_length_hours,executed_man_hours,booked_man_hours,order_total_spots,house,residence,rooms,coupon_amount,min_billable_man_hours,...,dressers,washing_machines,couches,bookshelves,boxes,dense,over,hour_of_day,morning,weekend
count,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000,...,2429.000000,571.000000,2560.000000,1175.000000,2329.000000,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000
mean,0.463624,2.499330,5.697870,5.679535,2.137526,0.360009,0.909059,1.616639,23.668334,2.927247,...,1.688349,1.553415,1.397266,1.954043,22.754401,0.017719,0.161582,16.842525,0.042478,0.543886
std,0.498704,1.695718,4.287201,3.323143,0.445191,0.480031,0.287542,0.877589,76.325750,0.997409,...,0.976891,0.528355,0.688481,1.420079,19.737621,0.131935,0.368088,3.681369,0.201690,0.498099
min,0.000000,0.250556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.208472,3.000000,4.000000,2.000000,0.000000,1.000000,1.000000,0.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,10.000000,0.000000,0.000000,14.000000,0.000000,0.000000
50%,0.000000,2.138611,4.500000,4.000000,2.000000,0.000000,1.000000,1.000000,0.000000,2.000000,...,1.000000,2.000000,1.000000,2.000000,20.000000,0.000000,0.000000,17.000000,0.000000,1.000000
75%,1.000000,3.316667,7.000000,6.000000,2.000000,1.000000,1.000000,2.000000,0.000000,4.000000,...,2.000000,2.000000,2.000000,2.000000,30.000000,0.000000,0.000000,20.000000,0.000000,1.000000
max,1.000000,15.416667,79.750000,40.000000,6.000000,1.000000,1.000000,5.000000,2932.000000,4.000000,...,15.000000,4.000000,8.000000,20.000000,250.000000,1.000000,1.000000,23.000000,1.000000,1.000000

In [206]:
#Transform reservation_start and booked_at to datetimes
df['reservation_start'] = pd.to_datetime(df['reservation_start'])
df['booked_at'] = pd.to_datetime(df['booked_at'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8764 entries, 441678 to 520642
Data columns (total 44 columns):
order_number              8764 non-null object
market                    8764 non-null object
broad_move_type           8764 non-null object
fs                        8764 non-null int64
booking_agent             4216 non-null object
booking_platform          8764 non-null object
move_length_hours         8764 non-null float64
executed_man_hours        8764 non-null float64
booked_man_hours          8764 non-null float64
order_total_spots         8764 non-null float64
property_size_name        8764 non-null object
property_type_name        8764 non-null category
house                     8764 non-null int64
residence                 8764 non-null int64
rooms                     8764 non-null int64
coupon_amount             8764 non-null float64
min_billable_man_hours    8764 non-null int64
damage_cost               8764 non-null float64
damage                    8764 non-null int64
appeasement               8764 non-null int64
appeasement_cost          8764 non-null float64
grpn                      8764 non-null int64
grpn200                   8764 non-null int64
booked_one_ten_perc       8764 non-null float64
booked_eighty_perc        8764 non-null float64
max_bound                 8764 non-null float64
min_bound                 8764 non-null float64
accurate                  8764 non-null int64
num_effort_hops           8764 non-null float64
avg_prev_lat_rate         8764 non-null float64
some_inventory            4297 non-null float64
beds                      2887 non-null float64
desks                     1199 non-null float64
chairs                    2240 non-null float64
ables                     2430 non-null float64
dressers                  2454 non-null float64
washing_machines          576 non-null float64
couches                   2595 non-null float64
bookshelves               1187 non-null float64
boxes                     2345 non-null float64
reservation_start         8764 non-null datetime64[ns]
booked_at                 8764 non-null datetime64[ns]
dense                     8764 non-null int64
over                      8764 non-null int64
dtypes: category(1), datetime64[ns](2), float64(23), int64(12), object(6)
memory usage: 3.0+ MB

In [211]:
#Add a column for time of day
df['hour_of_day'] = df['reservation_start'].dt.hour

#Add a column for morning
df['morning'] = np.where(df['hour_of_day']<=12,1,0)

#Add a column for day of week (The day of the week with Monday=0, Sunday=6)
df['day_of_week'] = df['reservation_start'].dt.dayofweek

#Add a column for weekend
df['weekend'] = np.where(df['day_of_week']>=4 ,1,0)

#Transform day of week to category
df['day_of_week'] = df['reservation_start'].dt.dayofweek.astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8764 entries, 441678 to 520642
Data columns (total 48 columns):
order_number              8764 non-null object
market                    8764 non-null object
broad_move_type           8764 non-null object
fs                        8764 non-null int64
booking_agent             4216 non-null object
booking_platform          8764 non-null object
move_length_hours         8764 non-null float64
executed_man_hours        8764 non-null float64
booked_man_hours          8764 non-null float64
order_total_spots         8764 non-null float64
property_size_name        8764 non-null object
property_type_name        8764 non-null category
house                     8764 non-null int64
residence                 8764 non-null int64
rooms                     8764 non-null int64
coupon_amount             8764 non-null float64
min_billable_man_hours    8764 non-null int64
damage_cost               8764 non-null float64
damage                    8764 non-null int64
appeasement               8764 non-null int64
appeasement_cost          8764 non-null float64
grpn                      8764 non-null int64
grpn200                   8764 non-null int64
booked_one_ten_perc       8764 non-null float64
booked_eighty_perc        8764 non-null float64
max_bound                 8764 non-null float64
min_bound                 8764 non-null float64
accurate                  8764 non-null int64
num_effort_hops           8764 non-null float64
avg_prev_lat_rate         8764 non-null float64
some_inventory            4297 non-null float64
beds                      2887 non-null float64
desks                     1199 non-null float64
chairs                    2240 non-null float64
ables                     2430 non-null float64
dressers                  2454 non-null float64
washing_machines          576 non-null float64
couches                   2595 non-null float64
bookshelves               1187 non-null float64
boxes                     2345 non-null float64
reservation_start         8764 non-null datetime64[ns]
booked_at                 8764 non-null datetime64[ns]
dense                     8764 non-null int64
over                      8764 non-null int64
hour_of_day               8764 non-null int64
morning                   8764 non-null int64
day_of_week               8764 non-null category
weekend                   8764 non-null int64
dtypes: category(2), datetime64[ns](2), float64(23), int64(15), object(6)
memory usage: 3.2+ MB

In [208]:
#The rest of the nulls are from customers choosing not to answer a pre-move survey about inventory of their items. 
#This survey was presented to all customers over the time period of interest, so I think null values may actually be meaningful.

In [209]:
df.to_csv('move_est.csv')